In [15]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

from pprint import pprint

import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

from sklearn.preprocessing import LabelEncoder
from sklearn.cross_validation import train_test_split

import pickle
import random

C:\Users\Playdata\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [148]:
rname = ['user', 'title', 'score']
df2 = pd.read_csv("rating.csv", encoding = 'utf-8-sig', sep = '\t', header = None, names = rname)
df2.head()

      user                   title  score
0  encore1                     완득이    4.0
1  encore1  스물아홉 생일, 1년 후 죽기로 결심했다    5.0
2  encore1                   청소부 밥    5.0
3  encore1                   말의 품격    5.0
4  encore1             예감은 틀리지 않는다    4.0

In [40]:
rname = ['user', 'title', 'score']
df = pd.read_csv("ratings.csv", encoding = 'utf-8-sig', sep = '\t', header = None, names = rname)
df.head()

   user                   title  score
0     1                     완득이    4.0
1     1  스물아홉 생일, 1년 후 죽기로 결심했다    5.0
2     1                   청소부 밥    5.0
3     1                   말의 품격    5.0
4     1             예감은 틀리지 않는다    4.0

In [152]:
def execute_labeling(column_name):
    Lec = LabelEncoder()
    df_copy2 = df2.copy()
    df_label2 = pd.DataFrame(Lec.fit_transform(df_copy2[column_name].values), columns = [column_name+'_label'])
    return df_label2

In [41]:
def execute_labeling(column_name):
    Lec = LabelEncoder()
    df_copy = df.copy()
    df_label = pd.DataFrame(Lec.fit_transform(df_copy[column_name].values), columns = [column_name+'_label'])
    return df_label

In [155]:
df_user = execute_labeling('user')
df_title = execute_labeling('title')

print(len(df_user['user_label'].value_counts()))
print(len(df_title['title_label'].value_counts()))

df_copy2 = df2.copy()    # copy df
df_copy2 = df_copy2.drop(df_copy2.columns[[0, 1]], axis = 1)    # delete 'user', 'title' columns
df_label2 = pd.concat([df_user, df_title, df_copy], axis = 1)    # 라벨링한 컬럼과 기존 데이터프레임 합치기

df_label2.head(5)

35
1009

   user_label  title_label     user                   title  score
0           0          699  encore1                     완득이    4.0
1           0          564  encore1  스물아홉 생일, 1년 후 죽기로 결심했다    5.0
2           0          866  encore1                   청소부 밥    5.0
3           0          339  encore1                   말의 품격    5.0
4           0          680  encore1             예감은 틀리지 않는다    4.0

In [ ]:
df_user = execute_labeling('user')
df_title = execute_labeling('title')

print(len(df_user['user_label'].value_counts()))
print(len(df_title['title_label'].value_counts()))

df_copy = df.copy()    # copy df
df_copy = df_copy.drop(df_copy.columns[[0, 1]], axis = 1)    # delete 'user', 'title' columns
df_label = pd.concat([df_user, df_title, df_copy], axis = 1)    # 라벨링한 컬럼과 기존 데이터프레임 합치기

df_label.head(5)

In [47]:
df_user = execute_labeling('user')
df_title = execute_labeling('title')

print(len(df_user['user_label'].value_counts()))
print(len(df_title['title_label'].value_counts()))

df_copy = df.copy()    # copy df
df_copy = df_copy.drop(df_copy2.columns[[0, 1]], axis = 1)    # delete 'user', 'title' columns
df_label2 = pd.concat([df_user, df_title, df_copy], axis = 1)    # 라벨링한 컬럼과 기존 데이터프레임 합치기

df_label.head(5)

35
1009

   user_label  title_label  score
0           0          699    4.0
1           0          564    5.0
2           0          866    5.0
3           0          339    5.0
4           0          680    4.0

In [43]:
movie_list = list(df['title'].unique())
movie_list = sorted(movie_list, key=str)
df_matrix = pd.DataFrame(columns = ['user'] + movie_list)
df_matrix    #결과확인

Empty DataFrame
Columns: [user, 12가지 인생의 법칙, 13 Reasons Why, 15소년 표류기, 1984, 1Q84, 1cm 첫 번째 이야기, 1cm+ 일 센티 플러스, 1日1食, 1리터의 눈물 마지막 편지, 1만 시간 동안의 남미, 1만 시간의 법칙, 1만권 독서법, 1시간에 1권 퀀텀 독서법, 1인 가구 돈 관리, 2012 마음의 소리 Ver.1, 2013 마음의 소리 Ver.1, 2015 시나공 정보처리산업기사 필기, 2017 대한민국 트렌드, 2017 시나공 정보처리기사 필기 + 별책부록(기출문제집), 2018 인구 절벽이 온다, 20대, 공부에 미쳐라, 20세기 소년, 21세기 자본, 26년, 28, 4개의 통장, 4차 산업혁명 시대, 전문직의 미래, 5초의 법칙, 7년 후, 80일간의 세계 일주, 80일간의 세계일주, 88만원 세대, 90일 완성 돈 버는 평생 습관, CODE 코드 (반양장), Call Me by Your Name, Carol, C로 배우는 쉬운 자료구조, DP 개의 날, Do it! HTML5 + CSS3 웹 표준의 정석, Do it! 쉽게 배우는 R 데이터 분석, Do it! 안드로이드 앱 프로그래밍, Do it! 점프 투 파이썬, E=mc2, EBS 다큐프라임 자본주의, FBI 행동의 심리학, H2 오리지널, Harry Potter and the Cursed Child - Parts One and Two, Ho! 1, Java의 정석, Lean In 린 인, MB의 비용, Me Before You, R까기, The God Delusion, The Hunger Games, The Martian, The Road, The Secret, Twilight, 가난한 사람이 더 합리적이다, 가면 산장 살인 사건, 가방 들어주는 아이, 가시고기, 가장 빨리 만나는 도커 Docker, 갈매기의 꿈, 감자, 값싼 중국의 종말, 갓 오브 하이스쿨, 강신주의 감정수업, 강철의 연금술사, 개를 훔치는 완벽한 방법, 개미, 개미혁명, 개발학 강의, 개밥바라기별, 거꾸로 읽는 세계사, 거래의 기술, 거의 모든 IT의 역사, 걸 온 더 트레인, 걸리버 여행기, 게으름에 대한 찬양, 게임 기획자되기, 게임회사 이야기, 경영학 콘서트, 경제 상식사전 (별책 : 알짜! 경제용어 300선), 경제학 콘서트, 경제학은 어떻게 과학을 움직이는가, 경제학자의 영광과 패배, 계층이동의 사다리, 고구려, 고도를 기다리며, 고래, 고백, 고스트 바둑왕, 고양이, 고우영 三國志, 고통의 문제 (보급판 문고본), 골드만삭스를 신고 차이나를 걷는 여자, 골든아워, ...]
Index: []

[0 rows x 1010 columns]

In [62]:
user_num = len(df_label.user_label.unique())
user_num

35

In [64]:
movie_num = len(df_label.title_label.unique())
movie_num

1009

In [85]:
df_label.head()

   user_label  title_label  score
0           0          699    4.0
1           0          564    5.0
2           0          866    5.0
3           0          339    5.0
4           0          680    4.0

In [111]:
for num in range(0, user_num):
    df_tmp = df_label[df_label['user_label'] == num]
    #print(np.sort(df_tmp['title_label']))
    print(df_tmp.ix[j]['title_label'])
    print(df_tmp.ix[j]['title_label']-1)
    print(int(df_tmp.ix[j]['title_label']-1))

699.0
698.0
698

C:\Users\Playdata\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
C:\Users\Playdata\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """
C:\Users\Playdata\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

KeyError: 0

In [ ]:
df_tmp.ix[j]['title_label']

In [130]:
%%time

user_num = len(df_label.user_label.unique()) # 35
movie_num = len(df_label.title_label.unique()) # 1009

user_score_list = []    # df_matrix에서 'user' 컬럼을 제외한 컬럼. 즉, title 컬럼
for num in range(0, user_num):
    
    user_score_list = [0 for i in range(movie_num)]   # 값을 0으로 초기화
    df_tmp = df_label[df_label['user_label'] == num]    # 각 유저별로 묶는다
    for j in df_tmp.index:
        intL = int(df_tmp.ix[j]['title_label']-1)
        user_score_list[intL] = df_tmp.ix[j]['score']
        #print(user_score_list)
    
    df_matrix.loc[num] = [num] + user_score_list 
    #df_tmp.ix[]['score']
    #user_score_list[df_tmp.ix[j]['title_label']-1]

C:\Users\Playdata\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()
C:\Users\Playdata\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':

Wall time: 1.05 s

In [131]:
# 유틸리티행렬 pickle 저장
file = df_matrix
directory = open('utilitymatrix', 'wb')
pickle.dump(file, directory)
directory.close()

In [132]:
user_name = list(df['user'].unique())
user_name = sorted(user_name, key = str)
user_name = pd.DataFrame(user_name)
user_name.columns = ['user_name']

# user_name pickle 저장
file_user = user_name
directory_user = open('user_name', 'wb')
pickle.dump(file_user, directory_user)
directory_user.close()

In [133]:
# pickle로 저장한 user_name data frame open
f = open('user_name', 'rb')
user_name = pickle.load(f)
user_name = user_name

In [144]:
# pickle로 저장한 유틸리티 행렬 DATA LOAD
f = open('utilitymatrix', 'rb')
utilitymatrix = pickle.load(f)

df2 = utilitymatrix
df2['user']

0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
20    20.0
21    21.0
22    22.0
23    23.0
24    24.0
25    25.0
26    26.0
27    27.0
28    28.0
29    29.0
30    30.0
31    31.0
32    32.0
33    33.0
34    34.0
Name: user, dtype: float64

In [139]:
class Basic(object):
    
    def __init__(self, user_name, neigh_num):
        self.user_name = user_name
        self.neigh_num = neigh_num
    
    """유저의 이름이 들어오면 유저 번호로 변환
    def convert_user_num(self):
        
        user_name_list = list(df_concat['user_name'].unique())
        
        for num in range(len(user_name_list)):
            if user_name_list[num] == self.user_name:
                user_num = num
        
        return user_num
    """
    
    """target 유저와 유사한 유저 K명을 찾고, cosine 유사도를 이용하여 거리를 구한다"""
    def find_near_neighbor(self):
    
        from sklearn.neighbors import NearestNeighbors
        
        user_num = Basic.convert_user_num(self)
            
        KNN = NearestNeighbors(n_neighbors = self.neigh_num, metric = 'cosine')    # n_neighbors에는 본인이 포함되기 때문에 +1을 해준다.
        KNN.fit(df)    # data set은 utility matrix인 df를 사용
        similar_distance, similar_users = KNN.kneighbors(df)
    
        similars = {}    #유사한 유저와 거리를 dict형식으로 저장
    
        # 유사한 유저
        similar_users = similar_users[user_num][1:]
        similars['sim_users'] = list(similar_users)
    
        # 유사한 유저들과의 거리
        similar_distance = similar_distance[user_num][1:]
        similars['sim_distance'] = similar_distance
    
        return similars
    
    
    """target유저 + 유사한 유저 K명으로 이루어진 새로운 data frame 형성하고, narray 형식으로 반환"""
    def near_neighbors_narray(self):
    
        similars = Basic.find_near_neighbor(self)
        similiar_users_list = similars['sim_users']
        similiar_distances = similars['sim_distance']

        columns = list(df.columns)
        new_df = pd.DataFrame(columns = columns)
    
        for i in range(len(similiar_users_list)):
        
            def concat_row(i):
                neighbor_df = df[df['user'] == similiar_users_list[i]]
                return neighbor_df
        
            neighbor_df = pd.concat([new_df, concat_row(i)])
            new_df = neighbor_df
            
        narray = new_df.values
        narray = narray[:, 1:]
        
        return narray

In [146]:
.find_near_neighbor()

SyntaxError: invalid syntax (<ipython-input-146-27d0e2d0b3cd>, line 1)

In [36]:
user_num = len(df_label.user_label.unique())
for num in range(0, user_num):
    
    user_score_list = [0 for i in range(movie_num)]    # 값을 0으로 초기화
    df_tmp = df_label[df_label['user_label'] == num] 
    df_tmp

In [37]:
movie_num = len(df_label.title_label.unique())

In [39]:
%%time

user_num = len(df_label.user_label.unique()) # 사용자 수
movie_num = len(df_label.title_label.unique()) # 도서 수

user_score_list = []    # df_matrix에서 'user' 컬럼을 제외한 컬럼. 즉, title 컬럼
for num in range(0, user_num):
    
    user_score_list = [0 for i in range(movie_num)]    # 값을 0으로 초기화
    df_tmp = df_label[df_label['user_label'] == num]    # 각 유저별로 묶는다
    
    #print(df_tmp.head(2))
    for j in df_tmp.index:
        
            user_score_list[df_tmp.ix[j]['title']-1] = df_tmp.ix[j]['score'] # user가 평가한 영화가 있다면 score를 채워넣는다
                
    df_matrix.loc[num] = [num] + user_score_list    # 행채우기

C:\Users\Playdata\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

KeyError: 'title'